*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
$orange:#FB973B;
$grey:#616161;
$default:#F8F8F8;
$border:#E1E1E1;

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 10px;
}
header{
    .header{
        nav{
            display: flex;
            justify-content: space-around;
            margin: 30px 200px 0 200px;
            .logo{
                width: 145px;
                height: 65px;
                
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .orange_icon1{
                width: 15px;
                height: 15px;
                margin-right: 100px;
                img{
                    width: 100%;
                    height: 100%;
                }

            }
            #menu{
                
                ul{
                    margin-top: 30px;
                    display: flex;
                    li{
                        list-style-type: none;
                        a{
                            margin-left: 80px;
                            text-decoration: none;
                            color: $grey;
                            
                            &:hover{
                                color: $orange;
                            }
                            
                        }
                    }
                }
            }
        }
        .orange_icon2{
            margin-left:1074px;
            width: 15px;
            height: 15px;
            margin-top: 40px;
            img{
                width: 100%;
                height: 100%;

            }
        }
    }
}
.contant{
    display: flex;
    .orange_icon3{
        margin-left: 130px;
        margin-top: 350px;
        margin-right: 190px;
        width: 15px;
        height: 15px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .contant_text{
        flex-basis: 40%;
        margin-top: 70px;
       
        h2{
            font-size: 60px;
            font-weight: bold;
            margin-bottom: 40px;
            
        }
        p{
            font-size: 24px;
            color: $grey;
            margin-bottom: 45px;
            margin-right:240px;
            word-spacing: 8px;
            span{
                color: $orange;
            }
        }
        input{
            width: 195px;
            height: 55px;
            background-color: $default;
            border: 1px solid $border;

        }
        button{
            width: 195px;
            height: 55px;
            background-color: $orange;
            color: white;
            font-size: 20px;
            border: 1px solid $border;
            margin-right: -5px;
            margin-bottom: 80px;

        }
        .orange_icon4{
            width: 15px;
            height: 15px;
            img{
                width: 100%;
                height: 100%;
            }

        }
    }
    .orange_icon5{
        margin-top:410px;
        margin-left:-225px;
    }
    .contant_img{
        position: relative;
       
        .lampochki{
            flex-basis: 50%;
            margin-right:100px;
            width: 925px;
            height: 570px;
            z-index: 0;
            img{
                width: 100%;
                height: 100%;
                
            }

        }
        .png15{
            width: 15px;
            height: 15px;
            margin-left:700px;
            margin-top: -450px;
            img{
                width: 100%;
                height: 100%;
            }

        }
        .png112{
            width: 15px;
            height: 15px;
           margin-left: 600px;
           margin-top: 330px;
            img{
                width: 100%;
                height: 100%;
            }

        }
    }
}

.about_us{
    
    .orange_icon6{
        margin-left: 930px;
        margin-top: 100px;
        width: 15px;
        height: 15px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .about_us_header{
        text-align: center;
        
        h3{
            font-size: 60px;
            font-weight: bold;
            margin-right:560px ;
            margin-left:560px ;
            margin-bottom: 35px;
            text-decoration: underline 10px $orange;

        }
        p{
            font-size: 24px;
            color: $grey;
            margin-left: 710px;
            margin-right: 710px;
            span{
                color: $orange;
            }

        }
    }
    .orange_icons{
        margin-top: 5px;
        display: flex;
        .png33{
            margin-left: 85px;
            margin-top: 105px;
            width: 15px;
            height: 15px;
            img{
                width: 100%;
                height: 100%;
            }

        }
        .png22{
            margin-top: 30px;
            margin-left: 120px;
            width: 15px;
            height: 15px;
            img{
                width: 100%;
                height: 100%;
            }

        }
        .png44{
            margin-left: 860px;
            margin-top: 45px;
            width: 15px;
            height: 15px;
            img{
                width: 100%;
                height: 100%;
            }

        }
        .png15{
            margin-left: 460px;
            width: 15px;
            height: 15px;
            img{
                width: 100%;
                height: 100%;
            }

        }

    }
    .about_us_contant{
        display: flex;
        .orange_icon9{
            width: 15px;
            height: 15px;
            margin-top:350px ;
            margin-left:460px ;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .lamp_img{
            width: 440px;
            height: 380px;
            img{
                width: 100%;
                height: 100%;

            }
        }
        .about_us_text{
            margin-left: 50px;
            margin-right: 520px;
            font-size: 18px;
            color: $grey;
            .orange_icon7{
                text-align: center;
                .png150{
                    
                    img{

                    }
                }
                .png11{
                    
                    
                    img{

                    }
                }
                .orange_icon8{
                    width: 15px;
                    height: 15px;
                    margin-left:300px;
                }
                p{
                    margin-top: 20px;
                    margin-bottom: 20px;

                }
            }
        }
    }
}
.footer_orange{
    width: 15px;
    height: 15px;
    margin-left: 890px;
    margin-top: 80px;
    img{
        width: 100%;
        height: 100%;
    }
}
footer{
    display: flex;
    .orange_icon10{
        width: 15px;
        height: 15px;
        margin-left: 140px;
        margin-top: 200px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .footer_text{
        margin-left: 175px;
        margin-right: 145px;
        h5{
            font-size: 60px;
            font-weight: bold;
        }
        p{
            font-size: 24px;
            color: $grey;
            margin-top: 50px;
            span{
                color: $orange;
            }

        }
        .orange_icon11{
            margin-top: 75px;
            margin-left: 205px;
            width: 15px;
            height: 15px;
            img{
                width: 100%;
                height: 100%;

            }
        }
    }
   
    .our_partners{
        margin-right: 350px;
        margin-bottom: 85px;
        display: flex;
        .partners1{
            margin-right: 185px;
            .img1{
                width: 250px;
                height: 55px;
                margin-bottom: 70px;
                img{
                    width: 100%;
                    height: 100%;
                    }
                }
            .img2{
                width: 250px;
                height: 55px;
                margin-bottom: 35px;
                img{
                    width: 100%;
                    height: 100%;

                }
            }
            .img3{
                width: 15px;
                height: 15px;
                margin-bottom: 35px;
                margin-left: 125px;
                img{
                    width: 100%;
                    height: 100%;

                }
            }
            .img4{
                img{

                }
            }
            }
        .partners2{
            .img5{
                width: 250px;
                height: 55px;
                margin-bottom:30px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .img6{
                width: 15px;
                height: 15px;
                margin-bottom: 30px;
                img{
                    width: 100%;
                    height: 100%;
                    margin-left: 175px;
                }
            }
            .img7{
                width: 250px;
                height: 55px;
                margin-bottom:70px;
                img{
                    width: 100%;
                    height: 100%;
                }

            }

            }
        }
        .orange_icon13{
            width: 15px;
            height: 15px;
            margin-right: 120px;
            margin-top: 450px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }